@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #171717;
}

@media print {
  body {
    background: white !important;
  }

  .print\:hidden {
    display: none !important;
  }
}
